<p>{{ count accountInstruments.instruments }} Tradable Instruments</p>
<p>{{ count accountTransactions.transactions }} Transactions</p>
<p>Balance {{ accountDetail.account.currency }} {{ accountDetail.account.balance }} </p>
<p>Open Trade {{ accountDetail.account.openTradeCount }} </p>
<p>Orders {{ count accountDetail.account.orders }} </p>
<p>Pending Order {{ accountDetail.account.pendingOrderCount }} </p>